<style>
/* Style The Dropdown Button */
.dropbtn3 {
  background-color: #3ba3b5;
  color: white;
  padding: 16px;
  width: 300px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown3 {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content3 {
  display: none;
  position: relative;
  background-color: #3ba3b5;
  width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content3 a {
  color: #000d16;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content3 a:hover {background-color: #3ba3b5;}

/* Show the dropdown menu on hover */
.dropdown3:hover .dropdown-content3 {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown3:hover .dropbtn3 {
  background-color: #000d16;
}

/* Style The Dropdown Button */
.dropbtn2 {
  background-color: #000d16;
  color: white;
  margin: auto;
  padding: 20px;
  width: 300px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown2 {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content2 {
  display: none;
  position: relative;
  background-color: #000d16;
  width: 300px;
  text-align: center;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content2 a {
  color: #000d16;
  text-align: center;
  margin: auto;
  padding: 5px 2px 5px 2px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content2 a:hover {background-color: #000d16}

/* Show the dropdown menu on hover */
.dropdown2:hover .dropdown-content2 {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown2:hover .dropbtn2 {
  background-color: #000d16;
}

/* Style The Dropdown Button */
.dropbtn4 {
  background-color: #3ba3b5;
  color: white;
  margin: auto;
  padding: 20px;
  width: 300px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown4 {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content4 {
  display: none;
  position: relative;
  background-color: #3ba3b5;
  width: 300px;
  text-align: center;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content4 a {
  color: #000d16;
  text-align: center;
  margin: auto;
  padding: 5px 2px 5px 2px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content4 a:hover {background-color: #3ba3b5;}

/* Show the dropdown menu on hover */
.dropdown4:hover .dropdown-content4 {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown4:hover .dropbtn4 {
  background-color: #3ba3b5;
}
</style>